<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>{% if page.title %}{{page.title}}{% else %}Ds Blog{% endif %}</title>
    <meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}Ds Blog{% endif %}" />

    {% if page.title %}<meta content="article" property="og:type">
    {% else %}<meta content="website" property="og:type">
    {% endif %}

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />

    {% if page.image %}<meta content="/pic/{{ page.image }}" property="og:image">
    {% else %}<meta content="/pic/og_dsblog.jpeg" property="og:image">
    {% endif %}
</head>

<body>
    {% include header.html %}
    <main>
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {% include footer.html %}
</body>
</html>